{{#each results}}
  <h1>{{name}}</h1>
  <p><b>Restaurant ID:</b> {{id}}</p>
  <p><b>Address:</b> {{address}}</p>
  <p><b>Category:</b> {{category}}</p>
  <a href="/restaurant/{{id}}">More Info</a>
{{/each}}
